*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.container{
    padding-top: 10px;
    background-color: white;
    border-radius: 20px;
    height: 250px;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
    
}
#btns-top{
    display: flex;
    gap: 15px;
}
#btns-top button{
    height: 50px;
    width: 200px;
    font-family: popins sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #f8ed26;
    border-radius: 10px;

}
button{
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
}
.category h1{
    text-align: center;
    height: 42px;
    width: 190px;
    background-color: white;
    border-radius: 5px;
}
.container>a>h1{
    background-color: aliceblue;
    border-radius: 5px;
    width: 130px;
    text-align: center;
}
.category-under{
    display: flex;
    gap: 10px;
}
.category-under button{
   font-size: 24px;
   font-family: poppins sans-serif;
   border-radius: 5px;
   text-align: center;
   background-color: #f8ed26;
   /* font-weight: bold; */
}

.newsStyle{
    border: 1px solid black;
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
    background-color: antiquewhite;
    
}
.newsStyle button{
    height: 30px;
    width: 80px;
    border-radius: 5px;
}
.display-contents{
    font-size: 20px;
}
.bottom-newNews{
    margin-top: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heartbtn{
    position: relative;
    width: 25px;
    height: 22px;
    margin-right: 10px;
}
.heartbtn::before,
.heartbtn::after{
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    width: 12px;
    height: 20px;
    background-color: rgb(144, 126, 126);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heartbtn::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
.red{
    position: relative;
    width: 25px;
    height: 22px;
    margin-right: 10px;
}
.red::before,
.red::after{
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    width: 12px;
    height: 20px;
    background-color: rgb(241, 24, 24);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.red::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}